// Override this file to add your own SCSS styling.

.navbar {
  height: 80px;
  background: #fff;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.11);
  font-size: 12px;
  font-family: Montserrat, Arial;
  font-weight: bold;
}

.navbar-brand img {
  max-height: 70px;  // For lg+ responsive sizing. 60px height +10px v-padding = 70px
}

ul.nav-icons {
  font-size: 14px;
}

ul.nav-icons span {
  text-transform: uppercase;
  font-size: 12px;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
  }
}

.btn-primary {
  background-color: #f05138;
  border-color: #f05138;
}

.btn-primary:hover {
  background-color: #342c9b;
  border-color: #342c9b; }

.btn-primary {
  background-color: #f05138;
  border-color: #f05138 }

.btn-primary:hover {
  background-color: #342c9b;
  border-color: #342c9b; }

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(73, 122, 255, 0.5); }

.btn-primary.disabled, .btn-primary:disabled {
  background-color: #342c9b;
  border-color: #342c9b; }

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,

.show > .btn-primary.dropdown-toggle {
  background-color: #f05138;
  border-color: #f05138; }

//.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,.show > .btn-primary.dropdown-toggle:focus {
//  box-shadow: 0 0 0 0.2rem rgba(73, 122, 255, 0.5); }

// Hero widget

.wg-hero {
  padding: 4em 0;
}

.hero-title {
  font-size: 4rem;
  color: #342c9b;
  font-weight: bold;
}

.hero-lead, .hero-lead a {
  font-size: 2rem;
  color: #342c9b;
  font-weight: bold;
  font-family: Montserrat, Arial;
  line-height: 1.5;
  padding: .75em 0;
}

.hero-lead a, .hero-lead a:hover, .hero-lead a:focus, .hero-lead a:visited, .hero-lead a:active, .hero-lead a:link
{
  text-decoration-color: #342c9b; /*#f05138;*/
}

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  color: #342c9b;
}

h1 {
    font-size: 2rem;
}

h2 {
  font-size: 1.25rem;
}